/*--------------------------------*- C++ -*----------------------------------*\
  =========                 |
  \\      /  F ield         | OpenFOAM: The Open Source CFD Toolbox
   \\    /   O peration     | Website:  https://openfoam.org
    \\  /    A nd           | Version:  12
     \\/     M anipulation  |
\*---------------------------------------------------------------------------*/
FoamFile
{
    format      ascii;
    class       dictionary;
    location    "system";
    object      snappyHexMeshDict;
}
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //

castellatedMesh true;
snap            true;
addLayers       true;

geometry
{
    aerofoil
    {
        type    triSurfaceMesh;
        file    "aerofoil.stl";
    }

    nearBox
    {
        type    searchableBox;
        min     (-1.0 -1.0 -0.1);
        max     ( 3.0  1.0  0.1);
    }

    wakeBox
    {
        type    searchableBox;
        min     ( 0.5 -1.5 -0.1);
        max     (15.0  1.5  0.1);
    }
};


castellatedMeshControls
{
    maxLocalCells       1500000;
    maxGlobalCells      2000000;
    minRefinementCells  10;
    maxLoadUnbalance    0.10;
    nCellsBetweenLevels 2;

    features
    (
        {
            file    "aerofoil.eMesh";
            level   7;
        }
    );

    refinementSurfaces
    {
        aerofoil
        {
            level       (6 7);
            patchInfo
            {
                type    wall;
            }
        }
    }

    resolveFeatureAngle 30;

    refinementRegions
    {
        nearBox
        {
            mode    inside;
            level   5;
        }
        wakeBox
        {
            mode    inside;
            level   4;
        }
    }

    insidePoint (-2.0 0.001 0.0);

    allowFreeStandingZoneFaces true;
}


snapControls
{
    nSmoothPatch            3;
    tolerance               2.0;
    nSolveIter              30;
    nRelaxIter              5;
    nFeatureSnapIter        10;
    implicitFeatureSnap     false;
    explicitFeatureSnap     true;
    multiRegionFeatureSnap  false;
}


addLayersControls
{
    relativeSizes false;

    layers
    {
        aerofoil
        {
            nSurfaceLayers {{ N_SURFACE_LAYERS }};
        }
    }

    expansionRatio       {{ EXPANSION_RATIO }};
    firstLayerThickness  {{ FIRST_LAYER_THICKNESS }};
    minThickness         {{ MIN_THICKNESS }};

    nGrow                       0;

    featureAngle                130;
    slipFeatureAngle             30;
    nRelaxIter                    5;
    nSmoothSurfaceNormals         1;
    nSmoothNormals                3;
    nSmoothThickness             10;
    maxFaceThicknessRatio       0.5;
    maxThicknessToMedialRatio   0.3;
    minMedianAxisAngle           90;
    nBufferCellsNoExtrude         0;
    nLayerIter                   50;
    nRelaxedIter                 20;
}


meshQualityControls
{
    #include "meshQualityDict"

    relaxed
    {
        maxNonOrtho     75;
        minTetQuality   -1e30;
        minTwist        -1;
        minDeterminant  -1;
        minFaceWeight   0;
        minVolRatio     0;
    }
}


mergeTolerance 1e-6;


// ************************************************************************* //
